---
import { Image } from "astro:assets";
import Link from "./Link.astro";
import { slugify, formatDate } from "../utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, date, author, image, description, category } = frontmatter;
---

<article class="w-96 rounded-3xl overflow-hidden hover:scale-[1.02] transition duration-200">
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width="800"
      height="800"
      format="webp"
      quality={80}
      class="transition duration-300 transform blur-0 scale-100 w-full h-48 object-cover object-top"
    />
  </a>
  <div class="p-4 md:p-8 bg-white dark:bg-neutral-900">
    <Tag>
      <a href={url} class="text-lg font-bold mb-4 text-neutral-800 dark:text-neutral-100 hover:underline">{title}</a>
    </Tag>
    <p class="text-left text-sm mt-2 text-neutral-600 dark:text-neutral-400">{description}</p>
    <Link href={url} text="Read Post" style="secondary" />
  </div>
</article>
