---
import CategoryList from "../components/CategoryList.astro";
import Pagination from "../components/Pagination.astro";
import PostHeader from "../components/PostHeader.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<Layout {title} {description}>
  <PostHeader {title} {description} {date} {category} {image} {author} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <CategoryList showCount/>
      </aside>
    </div>
  </div>
  <Pagination />
</Layout>
